<h1 class="mt-2">Home Page of Scheduled Tweets</h1>
<% if flash[:notice] %>
  <div class="alert alert-primary">
    <label>
      <%= flash[:notice] %>
    </label>
  </div>
<% end %>
<% if @user %>
  <h2>Logged in as: <%= @user.email %></h2>
<% end %>